body {
	margin: 0;
	padding-top: 5em;
	padding-inline: 25%;
	user-select: none;
	align-content: center;
	font-family: monospace;
}

#loading,
#main {
	width: 100%;
	padding: 2em;
	border-radius: 30px;
	background-color: rgba(40, 40, 40);
	box-shadow:
		0px 0px 1.4px rgba(0, 0, 0, 0.014),
		0px 0px 3.2px rgba(0, 0, 0, 0.021),
		0px 0px 5.5px rgba(0, 0, 0, 0.026),
		0px 0px 8.8px rgba(0, 0, 0, 0.03),
		0px 0px 13.5px rgba(0, 0, 0, 0.034),
		0px 0px 21.1px rgba(0, 0, 0, 0.039),
		0px 0px 35px rgba(0, 0, 0, 0.046),
		0px 0px 70px rgba(0, 0, 0, 0.06);
}

.light {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.dark {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

div {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

span {
	vertical-align: middle;
	padding-inline: 0.25em;
}

label{
	display: block;
}

table {
	margin-block: 1em;
	table-layout: fixed;
	border-spacing: 0.5em;
}

td {
	width: 5em;
	height: 5em;
	min-width: 5em;
	min-height: 5em;
	max-width: 5em;
	max-height: 5em;
	overflow: hidden;
	border-radius: 10px;
	padding: 10px;
	vertical-align: middle;
}

button {
	padding-inline: 2em;
}

select {
	width: 50%;
	padding-inline: 0.25em;
}

button,
select {
	height: 2em;
	display: inline;
	vertical-align: middle;
	border: none;
	border-radius: 4px;
	margin-block: 1em;
	margin-inline-end: 1em;
	font-family: monospace;
}

.dark td,
.dark button,
.dark select {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.2);
}

.dark td:hover,
.dark button:hover,
.dark select:hover {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.3);
}

.dark td:active,
.dark button:active,
.dark select:active {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}

.light td,
.light select {
	color: rgb(0, 0, 0);
	background-color: rgb(239, 239, 242);
}

.light td:hover,
.light select:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(223, 223, 229);
}

.light td:active,
.light select:active {
	color: rgb(0, 0, 0);
	background-color: rgb(207, 207, 216);
}

svg {
	width: 100%;
	height: auto;
	display: block;
}

.light a:link,
.light a:visited {
	color: rgb(55, 141, 255);
	text-decoration: none;
}

.light a:hover {
	color: rgb(46, 96, 223);
	text-decoration: underline;
}

.light a:active {
	color: rgb(19, 34, 117);
	text-decoration: underline;
}

.dark a:link,
.dark a:visited {
	color: rgb(59, 221, 255);
	text-decoration: none;
}

.dark a:hover {
	color: rgb(128, 235, 255);
	text-decoration: underline;
}

.dark a:active {
	color: rgb(169, 242, 255);
	text-decoration: underline;
}

hr {
	height: 1px;
	border-width: 0;
}

.light hr {
	background-color: rgb(215, 215, 219);
}

.dark hr {
	background-color: rgb(78, 77, 84);
}

.FiveEm {
	width: 5em !important;
	display: inline-block;
}

.TenEm {
	width: 10em !important;
	display: inline-block;
}

input[type='range'] {
	margin-inline: 1em;
	width: 6em;
}

input[type='color'] {
	padding: 0;
	border: none;
	height: 1.5em;
	vertical-align: middle;
	cursor: pointer;
}

input[type='text'] {
	height: 1.75em;
	padding-inline: 0.25em;
	vertical-align: middle;
	outline: none;
	border-radius: 4px;
	background-color: inherit;
	color: inherit;
	display: inline-block;
	width: 100%;
}

.light input[type='text'] {
	border: solid 1px rgb(215, 215, 219);
}

.dark input[type='text'] {
	border: solid 1px rgb(78, 77, 84);
}

.light input[type='checkbox'],
.light input[type='radio'],
.light input[type='range'] {
	accent-color: rgb(34, 100, 216);
}

.dark input[type='checkbox'],
.dark input[type='radio'],
.dark input[type='range'] {
	accent-color: rgb(98, 218, 251);
}