body {
	margin: 0;
	padding-top: 5em;
	padding-inline: 25%;
	user-select: none;
	align-content: center;
	font-family: monospace;
	color: rgb(255, 255, 255);
	background-color: rgb(50, 50, 50);
}

#loading,
#main {
	width: 100%;
	height: auto;
	padding: 2em;
	border-radius: 30px;
	background-color: rgba(40, 40, 40);
	box-shadow:
		0px 0px 1.4px rgba(0, 0, 0, 0.014),
		0px 0px 3.2px rgba(0, 0, 0, 0.021),
		0px 0px 5.5px rgba(0, 0, 0, 0.026),
		0px 0px 8.8px rgba(0, 0, 0, 0.03),
		0px 0px 13.5px rgba(0, 0, 0, 0.034),
		0px 0px 21.1px rgba(0, 0, 0, 0.039),
		0px 0px 35px rgba(0, 0, 0, 0.046),
		0px 0px 70px rgba(0, 0, 0, 0.06);
}

div {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

label {
	display: block;
	padding-left: 0.5em;
}

table {
	width: 50%;
	height: auto;
	display: inline-block;
	margin-block: 2em;
	table-layout: fixed;
	vertical-align: top;
	border-spacing: 0.5em;
}

td {
	overflow: hidden;
	vertical-align: middle;
	aspect-ratio: 1/1;
}

#svg_table td {
	width: 12.5%;
	border-radius: 0.5vw;
	padding: 0.5vw;
}

.big_display td,
.editor td {
	width: 50%;
	border-radius: 1vw;
	padding: 1vw;
}

#save_svg,
#delete_svg {
	border-radius: 1vw;
	padding: 0.5vw;
	text-align: center;
}

button {
	padding-inline: 2em;
}

select {
	width: calc(50% - 1em);
	padding-inline: 0.25em;
}

button,
select {
	height: 2em;
	display: inline;
	vertical-align: middle;
	border: none;
	border-radius: 4px;
	margin-block: 1em;
	margin-inline: 0.5em;
	font-family: monospace;
}

td,

button,
select,
#save_svg,
#delete_svg {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.2);
}

#svg_table td.selected {
	outline: 2px solid white;
	background-color: rgba(255, 255, 255, 0.4);
}

#svg_table td.edited {
	border: 1px solid aquamarine;
}

#svg_table td:hover,
button:hover,
select:hover,
#save_svg:hover,
#delete_svg:hover {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.3);
}

#svg_table td:hover.selected {
	outline: 2px solid white;
	background-color: rgba(255, 255, 255, 0.5);
}

#svg_table td:active,
button:active,
select:active,
#save_svg:active,
#delete_svg:active {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}

#svg_table td:active.selected {
	outline: 2px solid white;
	background-color: rgba(255, 255, 255, 0.6);
}

.transparent {
	background-color: transparent !important;
	text-align: center;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
}

textarea {
	width: 100%;
	height: 100%;
	padding-right: 0.5em;
	outline: none;
	border: none;
	border-radius: 4px;
	background-color: transparent;
	word-break: break-all;
	white-space: normal;
	color: inherit;
	resize: none;
}